
UpRise.Starter.Core/.vs/ProjectEvaluation/uprise.starter.core.metadata.v5.2
UpRise.Starter.Core/.vs/ProjectEvaluation/uprise.starter.core.projects.v5.2
UpRise.Starter.Core/.vs/UpRise.Starter.Core/DesignTimeBuild/.dtbcache.v2
UpRise.Starter.Core/.vs/UpRise.Starter.Core/FileContentIndex/14becf52-d1d5-4155-86fb-3bab03c481e0.vsidx
UpRise.Starter.Core/.vs/UpRise.Starter.Core/FileContentIndex/33f17af6-bfae-4be8-a3a6-c2abf14eb798.vsidx
UpRise.Starter.Core/.vs/UpRise.Starter.Core/FileContentIndex/4fc9b915-315c-4084-b49d-5a1238591f51.vsidx
UpRise.Starter.Core/.vs/UpRise.Starter.Core/FileContentIndex/5ee98719-480d-4486-a987-c5e3f3058c43.vsidx
UpRise.Starter.Core/.vs/UpRise.Starter.Core/FileContentIndex/9937d3da-2554-4b84-8924-4fe3a196c031.vsidx
UpRise.Starter.Core/.vs/UpRise.Starter.Core/FileContentIndex/b3c5b2b1-a3a8-4d75-a131-8853ab3d26ba.vsidx
UpRise.Starter.Core/.vs/UpRise.Starter.Core/FileContentIndex/e55ada56-c6ad-4786-a1e3-2286f16187a8.vsidx
UpRise.Starter.Core/.vs/UpRise.Starter.Core/FileContentIndex/efe7f203-5fc6-453a-92fd-f7b1f248c111.vsidx
UpRise.Starter.Core/.vs/UpRise.Starter.Core/v17/.suo
UpRise.Starter.Core/.vs/ProjectEvaluation/uprise.starter.core.metadata.v5.2
UpRise.Starter.Core/.vs/ProjectEvaluation/uprise.starter.core.projects.v5.2
UpRise.Starter.Core/.vs/UpRise.Starter.Core/DesignTimeBuild/.dtbcache.v2
UpRise.Starter.Core/.vs/UpRise.Starter.Core/FileContentIndex/4fc9b915-315c-4084-b49d-5a1238591f51.vsidx
UpRise.Starter.Core/.vs/UpRise.Starter.Core/FileContentIndex/5ee98719-480d-4486-a987-c5e3f3058c43.vsidx
UpRise.Starter.Core/.vs/UpRise.Starter.Core/FileContentIndex/9937d3da-2554-4b84-8924-4fe3a196c031.vsidx
UpRise.Starter.Core/.vs/UpRise.Starter.Core/FileContentIndex/e55ada56-c6ad-4786-a1e3-2286f16187a8.vsidx
UpRise.Starter.Core/.vs/UpRise.Starter.Core/FileContentIndex/efe7f203-5fc6-453a-92fd-f7b1f248c111.vsidx
UpRise.Starter.Core/.vs/UpRise.Starter.Core/v17/.suo
*.vsidx
