<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://uprisewebapi20230117114456.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/44e858b2-b911-457f-86fa-09fde1dc4a33/resourceGroups/appsvc_windows_centralus/providers/Microsoft.ContainerRegistry/registries/UpRiseWebApi20230117011845</ContainerResourceId>
    <ContainerResourceName>UpRiseWebApi20230117011845</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>uprisewebapi20230117011845.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ApiResourceId>/subscriptions/44e858b2-b911-457f-86fa-09fde1dc4a33/resourceGroups/appsvc_windows_centralus/providers/Microsoft.ApiManagement/service/UpRiseWebApiapi/apis/UpRiseWebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/44e858b2-b911-457f-86fa-09fde1dc4a33/resourcegroups/UpRise/providers/Microsoft.Web/sites/UpRiseWebApi20230117114456</ResourceId>
    <ResourceGroup>UpRise</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://uprisewebapi20230117114456.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a3809194-69ef-4cfd-bb59-70d356016007</ProjectGuid>
  </PropertyGroup>
</Project>